<table class="table table-hover" id="listing" title="campaigns">
	<tbody>
		<tr class="gridColumns gradientSilver">
			<th class="column"></th>
			<th class="column">Title</th>
			<th class="column">Description</th>
			<th class="column">Priority</th>
			<th class="column">Raised by</th>
			<th class="column">Assigned to</th>
			<th class="column">Date raised</th>
			<th class="column">Deadline</th>
		</tr>
		<tr class="gridContentRecord" title="4">
			<td></td>
			<td><a href="#">Close Issue</a></td>
			<td>OS upgrade</td>
			<td>Upgrade of OS from Windows 14 to Windows Extinct</td>
			<td>Medium</td>
			<td>Nzioka - Service</td>
			<td>Njeri - Technical</td>
			<td>2016-04-18 01:00:14</td>
			<td>2016-04-18 01:00:14</td>
		</tr>
		<tr class="gridContentRecord" title="6">
			<td></td>
			<td><a href="#">Close Issue</a></td>
			<td>OS upgrade</td>
			<td>Upgrade of OS from Windows 14 to Windows Extinct</td>
			<td>Medium</td>
			<td>Nzioka - Service</td>
			<td>Njeri - Technical</td>
			<td>2016-04-18 01:00:14</td>
			<td>2016-04-18 01:00:14</td>
		</tr>
	</tbody>
</table>